.App {
  text-align: center;
  display: flex;
  height: 700px;
}
* {
  margin: 0;
  padding: 0;
}

.sidebar {
  /* position: absolute; */
  left: 0%;
  right: 94.38%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px #E5E9F2;
  width: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 130px;
  padding-top: 20px;
}
.sidebar > div {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.sidebar > img {
  width: 40px;
  height: 40px;
  top: 35px;
  left: 22px;
  /* position: absolute; */
  left: 1.53%;
  right: 95.69%;
  top: 3.42%;
  bottom: 92.68%;
  border-radius: 50px;
}
#chart {
  width: 40px;
  height: 20px;
  padding: 20px 25px;
  top: 300px;
  left: 91px;
  border-radius: 5px;
  background: linear-gradient(180deg, #679CF6 0%, #4072EE 100%);
  box-shadow: 0px 5px 15px #ACB2C1;
  border-radius: 5px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  /* position: absolute; */
  left: 6.32%;
  right: 87.01%;
  top: 29.3%;
  bottom: 63.87%;
}
.Users {
  width: 452px;
  height: 514px;
  position: absolute;
  padding: 20px 20px;
  left: 10%;
  right: 60.14%;
  top: 15%;
  bottom: 38.77%;
  
  background: #FFFFFF;
  box-shadow: 0px 2px 4px #E5E9F2;
  border-radius: 5px;
}
.active {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.userInfo {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}
.userInfo > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.userInfo > img {
  width: 40px;
  height: 40px;
  /* position: absolute; */
  border-radius: 50px;
  left: 10.56%;
  right: 86.67%;
  top: 19.43%;
  bottom: 76.66%;
}

.level {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.toggle > h1{
  width: 232px;
  height: 43px;
  height: 43px;
  
  font-family: 'Roboto';
  font-style: normal;
  line-height: 42px;
  font-weight: 400;
  font-size: 36px;
}
.toggle {
  display: flex;
  align-items: center;
  position: absolute;
  height: 43px;
  gap: 300px;
  left: 122px;
  top: 30px;
}