.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  width: 80%;
  margin: 50px auto;
  background-color: #24252a;
  color: white;
}
.App > div {
  display: flex;
  gap: 30px;
}
a {
  color: white;
  text-decoration: none;
}
button {
  background-color: rgb(9, 141, 168);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 5px 20px;
}